@font-face {
  font-family: 'Heebo';
  font-style: normal;
  /* font-weight: 100 900; */
  font-display: swap;
  src: local('Heebo') url(/fonts/Heebo-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  /* font-weight: 100 900; */
  font-display: swap;
  src: local('Playfair Display')
    url(/fonts/PlayfairDisplay-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  /* font-weight: 100 900; */
  font-display: swap;
  src: local('Fira Code') url(/fonts/FiraCode-VariableFont_wght.ttf)
    format('truetype');
}
