* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  color: $grey-dark-1;
  font-family: "IdealSans-Book", Fallback, "Helvetica", "Arial", sans-serif;
  font-size: $font-base;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "IdealSans-Semibold", Fallback, "Helvetica", "Arial", sans-serif;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}
