// body text
@font-face {
  font-family: "Ideal Sans Book";
  font-display: fallback;
  font-weight: 400;
  font-style: normal;
  src: local("Ideal Sans Book"), local("Idea lSan Book"),
    url("/src/assets/fonts/IdealSans-Book.woff") format("woff");
}

@font-face {
  font-family: "Ideal Sans Semibold";
  font-display: fallback;
  font-weight: 700;
  font-style: normal;
  src: local("Ideal Sans"), local("SourceSansPro-Bold"),
    url("/src/assets/fonts/IdealSans-Semibold.woff") format("woff");
}

@font-face {
  font-family: "Ideal Sans Book Italic";
  font-display: fallback;
  font-weight: 400;
  font-style: italic;
  src: local("Ideal Sans"), local("IdealSans-BookItalic"),
    url("/src/assets/fonts/IdealSans-BookItalic.woff") format("woff");
}

@font-face {
  font-family: "Ideal Sans Semibold Italic";
  font-display: fallback;
  font-weight: 700;
  font-style: italic;
  src: local("Ideal Sans"), local("IdealSans-SemiboldItalic"),
    url("/src/assets/fonts/IdealSans-SemiboldItalic.woff") format("woff");
}
