// body text
@font-face {
  font-family: "SourceSansPro-Regular";
  font-display: fallback;
  font-weight: 400;
  font-style: normal;
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"),
    url("/src/fonts/SourceSansPro-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "SourceSansPro-Bold";
  font-display: fallback;
  font-weight: 700;
  font-style: normal;
  src: local("Source Sans Pro"), local("SourceSansPro-Bold"),
    url("/src/fonts/SourceSansPro-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "SourceSansPro-Italic";
  font-display: fallback;
  font-weight: 400;
  font-style: italic;
  src: local("Source Sans Pro"), local("SourceSansPro-Italic"),
    url("/src/fonts/SourceSansPro-Italic.ttf") format("ttf");
}

@font-face {
  font-family: "SourceSansPro-BoldItalic";
  font-display: fallback;
  font-weight: 700;
  font-style: italic;
  src: local("Source Sans Pro"), local("SourceSansPro-BoldItalic"),
    url("/src/fonts/SourceSansPro-BoldItalic.ttf") format("ttf");
}
