# System
*~
*#
.#*
.DS_Store

# environmental variables
.env/

# Test
coverage
.eslintcache

# Logs
*.log

# npm 
node_modules/
.npm
npm-debug.log*

# package-lock.json
/dist/bundle.js
/dist/index.html
/dist*
/dist/*
