@import "../../assets/styles/base/settings";

.header {
  background: $primary-dark-2;
}

.headerTitle {
  color: $grey-light-5;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}

.headerContent {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $medium-1 0;
}

.headerButton {
  background: none;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-medium-1;
  line-height: 1;
  font-weight: 300;
  padding: $small-1;
  text-decoration: none;
}

.contentContainer {
  margin: 0 auto;
  max-width: 80rem;
  padding: 0 $small-2;
}
