html {
  --transparent: transparent;
  --white: #fff;
  --gray: 207, 5%;
  --gray-50: var(--gray), 95%;
  --gray-100: var(--gray), 90%;
  --gray-200: var(--gray), 80%;
  --gray-300: var(--gray), 70%;
  --gray-400: var(--gray), 60%;
  --gray-500: var(--gray), 50%;
  --gray-600: var(--gray), 40%;
  --gray-700: var(--gray), 30%;
  --gray-800: var(--gray), 20%;
  --gray-900: var(--gray), 10%;
  --black: #000;

  --blue: 178, 67%;
  --blue-50: var(--blue), 95%;
  --blue-100: var(--blue), 90%;
  --blue-200: var(--blue), 80%;
  --blue-300: var(--blue), 70%;
  --blue-400: var(--blue), 60%;
  --blue-500: var(--blue), 50%;
  --blue-600: var(--blue), 40%;
  --blue-700: var(--blue), 30%;
  --blue-800: var(--blue), 20%;
  --blue-900: var(--blue), 10%;

  --yellow: 37, 100%;
  --yellow-50: var(--yellow), 95%;
  --yellow-100: var(--yellow), 90%;
  --yellow-200: var(--yellow), 80%;
  --yellow-300: var(--yellow), 70%;
  --yellow-400: var(--yellow), 60%;
  --yellow-500: var(--yellow), 50%;
  --yellow-600: var(--yellow), 40%;
  --yellow-700: var(--yellow), 30%;
  --yellow-800: var(--yellow), 20%;
  --yellow-900: var(--yellow), 10%;

  --pink: 309, 100%;
  --pink-50: var(--pink), 95%;
  --pink-100: var(--pink), 90%;
  --pink-200: var(--pink), 80%;
  --pink-300: var(--pink), 70%;
  --pink-400: var(--pink), 60%;
  --pink-500: var(--pink), 50%;
  --pink-600: var(--pink), 40%;
  --pink-700: var(--pink), 30%;
  --pink-800: var(--pink), 20%;
  --pink-900: var(--pink), 10%;

  --red: 14, 92%;
  --red-50: var(--red), 95%;
  --red-100: var(--red), 90%;
  --red-200: var(--red), 80%;
  --red-300: var(--red), 70%;
  --red-400: var(--red), 60%;
  --red-500: var(--red), 50%;
  --red-600: var(--red), 40%;
  --red-700: var(--red), 30%;
  --red-800: var(--red), 20%;
  --red-900: var(--red), 10%;
}

body[data-theme='light'] {
  --colors-text: hsla(var(--gray-800), 100%);
  --colors-background: hsla(var(--gray-50), 100%);
  --colors-primary: hsla(var(--red-500), 100%);
  --colors-secondary: hsla(var(--red-300), 100%);
  --colors-accent: hsla(var(--pink-600), 100%);
  --colors-highlight: hsla(var(--blue-200), 100%);
  --colors-muted: hsla(var(--gray-50), 100%);

  --colors-overlay: hsla(var(--gray-900), 50%);
  --colors-text-muted: hsla(var(--gray-700), 100%);
  --colors-primary-hover: hsla(var(--red-400), 100%);
  --colors-success: hsla(var(--pink-500), 100%);
  --colors-info: hsla(var(--blue-500), 100%);
  --colors-warning: hsla(var(--yellow-500), 100%);
  --colors-danger: hsla(var(--red-500), 100%);
}

body[data-theme='dark'] {
  --colors-text: hsla(var(--yellow-50), 100%);
  --colors-background: hsla(var(--gray-800), 100%);
  --colors-primary: hsla(var(--red-500), 100%);
  --colors-secondary: hsla(var(--red-300), 100%);
  --colors-accent: hsla(var(--pink-600), 100%);
  --colors-highlight: hsla(var(--blue-200), 100%);
  --colors-muted: hsla(var(--gray-500), 100%);

  --colors-overlay: hsla(var(--gray-900), 50%);
  --colors-text-muted: hsla(var(--gray-700), 100%);
  --colors-primary-hover: hsla(var(--red-400), 100%);
  --colors-success: hsla(var(--pink-500), 100%);
  --colors-info: hsla(var(--blue-500), 100%);
  --colors-warning: hsla(var(--yellow-500), 100%);
  --colors-danger: hsla(var(--red-500), 100%);
}
