@import './src/assets/styles/base/settings';

.boxLayout {
  background-image: url('../../assets/images/bg.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.boxLayoutBox {
  border-radius: 3px;
  background: fade-out(white, .15);
  padding: $l-size $m-size;
  text-align: center;
  width: 25rem;
}

.boxLayoutTitle {
  margin: 0 0 $m-size 0;
  line-height: 1;
}

.button {
  background: $blue;
  border: none;
  color: white;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $s-size;
}